html {
    box-sizing: border-box;
}

.container {
    background-color:bisque
}

.container-meme {
    max-width: 50em;
    min-height: 100vh;
    margin: auto;
    padding: 2em;
    transition: 0.2s easy;
}

.title-container {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2.5em;
    padding-bottom: 0.5em;
    border-bottom: 0.2rem solid #C8C8C8
}

.accordion {
    border-bottom: 0.2rem solid #C8C8C8;
    cursor: pointer;
    color: rebeccapurple;
    transition: 0.2s all;
    overflow: hidden;
    padding: 0.2em 0;
}

.accordion:last-child {
    border: none;
}

label.meme-title {
    font-family: sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    transition: 0.2s;
    
}

.name-meme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.accordion input, .accordion-content {
    height: 0;
    text-align: center;
    transition: 0.2s ease;
}

.icon-plus {
    opacity: 0;
}

.container-meme:hover  .icon-plus {
    opacity: 1;
}

.accordion :checked ~ label .accordion-content {
    transform: scale(1);
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: 0.2s all;
    overflow: hidden;
}

.picture {
    transition: 0.2s ease;
    transform: scale(0.9);
    width: auto;
    height: auto;
    overflow: hidden;
}



.accordion :hover ~ label .accordion-content {
    transform: scale(0.9);
    transition: 0.2s ease;
    overflow: hidden;
}


.container-meme {
    transition: 0.2s all;
    transition: transform 0.2s all;
    overflow: hidden;
}

.meme-title {
    transition: 0.2s ;
    transition: transform 0.2s;
}


.container-meme:hover .meme-title {
    color: #000;
    transition: 0.2s;
    overflow: hidden;
}

:checked + .meme-title {
    color: #000;
    transition: 0.2s all;
    overflow: hidden;
}

.container-meme .meme-title:hover .icon-plus {
    transform: rotate(315deg);
    transition: 0.2s ease;
}


.icon-picture {
    font-size: 1.5em;
}

.name-meme:active {
    color: rebeccapurple;
}

.accordion:active {
    opacity: 0.5;
}

.accordion label:hover .accordion-content {
    height: 10%;
    transition: 0.2s ease;
}

@media (max-width: 820px) {
    label.meme-title {
        font-size: 1.6rem;
    }
}
