html {
    box-sizing: border-box;
}

.container {
    background-color:bisque
}

.container-meme {
    max-width: 50em;
    min-height: 100vh;
    margin: auto;
    padding: 2em;
    transition: 0.2s easy;
}

.title-container {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
}

.accordion {
    border-bottom: 1px solid black;
    cursor: pointer;
    color: rebeccapurple;
    transition: 0.2s all;
    overflow: hidden;
}

.accordion:last-child {
    border: none;
}

label.meme-title {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.accordion input, .accordion-content {
    display: none;
    text-align: center;
    transition: 0.2s;
}



.icon-plus {
    opacity: 0;
}

.container-meme:hover  .icon-plus {
    opacity: 1;
}

.accordion :checked ~ .accordion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: 0.2s;
    overflow: hidden;
}


input .accordion-content:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: 0.2s;
    overflow: hidden;
}


.picture {
    transition: 0.2s;
    transform: scale(0.9);
    overflow: hidden;
}

.container-meme:hover .accordion .picture {
    transform: scale(0.8);
}

.accordion :hover ~ .accordion-content {
    height: 100%;
    transform: scale(0.9);
    display: block;
    overflow: hidden;
}

.container-meme {
    transition: 0.2s all;
    transition: transform 0.2s all;
    overflow: hidden;
}

.meme-title {
    transition: 0.2s ;
    transition: transform 0.2s;
}

.container-meme:hover .meme-title {
    color: #000;
    transition: 0.2s;
    overflow: hidden;
}

.container-meme:hover .meme-title {
    color: #000;
    transition: 0.2s;
    overflow: hidden;
}

:checked + .meme-title {
    color: #000;
    transition: 0.2s all;
}

.container-meme:hover .meme-title:active {
    transition: 0.2s;
    font-weight: bold;
}

.container-meme .meme-title:hover .icon-plus {
    transform: rotate(315deg);
    transition: 0.2s ease;
}


.icon-picture {
    font-size: 2em;
}

.container-meme :checked + .meme-title  .icon-plus {
    transform: rotate(315deg);
    transition: 0.2s ease;
}


input[type=radio]:active~.meme-title {
    color: rebeccapurple;
}

.accordion:active {
    opacity: 0.5;
}


